@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SVN-Gilroy Light';
  font-style: normal;
  font-weight: normal;
  src: local('SVN-Gilroy Light'), url('./assets/fonts/SVNGilroy Light.woff') format('woff');
}


@font-face {
  font-family: 'SVN-Gilroy Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SVN-Gilroy Bold'), url('./assets/fonts/SVNGilroy Bold.woff') format('woff');
}

@layer base {
  :root {
    @apply font-SVN-Gilroy-Light;
  }

  body,
  html {
    @apply bg-['#FDFDFD'];
  }
}

@layer components {
  .button {
    @apply inline-flex items-center justify-center px-8 py-2.5 border border-theme rounded-full text-sm text-theme font-bold hover:bg-theme hover:text-white transition-colors;
  }
}